<div>
    <div class="chat-box">
        <div class="chat-box__messages">
            <div *ngFor="let message of messages">
                <span class="time" *ngIf="message.dateTime">{{ message.dateTime | date:'h:mm:ss' }} </span>
                <span>{{ message.text }}</span>
            </div>
        </div>

        <div class="chat-box__message">
            <textarea class="message-input" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type your message here"></textarea>
        </div>
    </div>
</div>
