.chat-box {
    border: 1px solid black;
    width: 400px;

    &__messages {
        height: 500px;
        overflow-y: scroll;
    }

    &__message {
        margin-top: .5em;
    }
}

.time {
    font-weight: bold;
}

.message-input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}
